body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  opacity: 0.85;
  position: relative;
}

header img {
  height: 100px;
  width: 150px;
  padding: 10px;
  margin-left: 60px;
}
.nav-container {
  display: flex;
  flex-direction: column;
}

/*
nav ul {
  background-color: green;
}
*/
nav li {
  display: inline-block;
  margin-left: 50px;
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.header-container:hover {
  background-color: green;
}

nav li:hover {
  background-color: green;
  padding: 5px;
}
nav li a:hover {
  color: greenyellow;
}
form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}
input[type="search"] {
  border: none;
  width: 400px;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}
input[type="search"]:active {
  border: 0;
}

input[type="search"]::placeholder {
  color: #bbb;
}
button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin-left: 250px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}
button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
.avatar-container img {
  height: 50px;
  width: 70px;
  padding-top: 10px;
  margin-left: 40px;
}

#log-in {
  background-color: greenyellow;
  color: black;
  height: 40px;
  width: 70px;
  border-radius: 7px;
  margin-bottom: 5px;
}
#log-in:hover {
  background-color: black;
  color: grey;
  width: 100px;
}

#sign-up {
  background-color: greenyellow;
  color: black;
  height: 40px;
  width: 70px;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-right: 20px;
}
#sign-up:hover {
  background-color: black;
  color: grey;
  width: 100px;
}

#homepage img {
  margin-top: 10px;
  height: 600px;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  border: 1px solid black;
}
#homepage h1 {
  text-align: center;
  font-size: 2.4em;
}
#homepage p {
  padding: 10px;
  font-size: 1.4em;
}
#about h2 {
  font-size: 2.4em;
  text-align: center;
}
.about-container {
  display: flex;
  gap: 100px;
  background-color: white;
}
.history {
  width: 60em;
  background-color: white;
  margin: 20px;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.7;
  font-size: 1.2em;
}
.products {
  width: 60em;
  background-color: white;
  margin: 20px;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.7;
  font-size: 1.2em;
}
.location {
  width: 60em;
  background-color: white;
  margin: 20px;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.7;
  font-size: 1.2em;
}

#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}
.img {
  margin: 30px;
  padding: 10px;
}
.img img {
  height: 200px;
  width: 200px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#checkout {
  background-color: yellowgreen;
  height: 30px;
  border-radius: 10px;
}
#buyout {
  background-color: yellowgreen;
  height: 30px;
  border-radius: 10px;
}
#contacts {
  height: 200px;
  background-color: black;
  opacity: 0.7;
  margin-top: 200px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.footer-container {
  display: flex;
  gap: 20em;
  color: white;
  font-size: 1.2em;
}

.icons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 35px;
}
.social-icons {
  display: flex;
  gap: 30px;
}
.social-icons img {
  height: 30px;
  width: 30px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2em;
}
.promotional-content {
  display: flex;
  gap: 30px;
}
.promotional-content p a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscription input {
  border: none;
  width: 400px;
  height: 30px;
  background: white;
  font-size: 16px;
  color: black;
  border: 1px solid white;
  padding-left: 10px;
}
.subscription input::placeholder {
  color: #808080;
}
.subscription button {
  background-color: yellowgreen;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}
